In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
# 향수 데이터셋 불러오기
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/capstone/data/data.csv', encoding='utf-8')
df.head(1)

,제품 번호,제품명,Top Note,Middle Note,Base Note,브랜드,부향률,가격,설명
0,0,겐조 플라워 바이 겐조 오 드 퍼퓸,"블랙커런트, 산사나무, 불가리안 로즈","오포포낙스, 자스민, 파라마 바이올렛, 로즈, 머스크","바닐라, 인센스",겐조,오 드 퍼퓸,"106,000",NaN

In [3]:
# Top Note, Middle Note, Base Note를 모두 합친 Notes 칼럼 생성
df['Notes'] = df['Top Note'].str.cat(df['Middle Note'], sep=',')
df['Notes'] = df['Notes'].str.cat(df['Base Note'], sep=',')
df["Notes"] = df['Notes'].str.strip(",")
df.head(1)

,제품 번호,제품명,Top Note,Middle Note,Base Note,브랜드,부향률,가격,설명,Notes
0,0,겐조 플라워 바이 겐조 오 드 퍼퓸,"블랙커런트, 산사나무, 불가리안 로즈","오포포낙스, 자스민, 파라마 바이올렛, 로즈, 머스크","바닐라, 인센스",겐조,오 드 퍼퓸,"106,000",NaN,"블랙커런트, 산사나무, 불가리안 로즈,오포포낙스, 자스민, 파라마 바이올렛, 로즈,..."

In [4]:
# Notes list로 변환
df['Notes_list'] = df.Notes.str.split(',')
df['Notes_list'] = df['Notes_list'].apply(lambda l: list(set([e for e in l if e != ""])))
df.head(1)

,제품 번호,제품명,Top Note,Middle Note,Base Note,브랜드,부향률,가격,설명,Notes,Notes_list
0,0,겐조 플라워 바이 겐조 오 드 퍼퓸,"블랙커런트, 산사나무, 불가리안 로즈","오포포낙스, 자스민, 파라마 바이올렛, 로즈, 머스크","바닐라, 인센스",겐조,오 드 퍼퓸,"106,000",NaN,"블랙커런트, 산사나무, 불가리안 로즈,오포포낙스, 자스민, 파라마 바이올렛, 로즈,...","[ 로즈, 오포포낙스, 블랙커런트, 불가리안 로즈, 인센스, 파라마 바이올렛,..."

In [5]:
# list 공백 제거
for i in range(len(df)):
    df.at[i, 'Notes_list'] = [i.strip() for i in df.at[i, 'Notes_list']]

df.head(1)

,제품 번호,제품명,Top Note,Middle Note,Base Note,브랜드,부향률,가격,설명,Notes,Notes_list
0,0,겐조 플라워 바이 겐조 오 드 퍼퓸,"블랙커런트, 산사나무, 불가리안 로즈","오포포낙스, 자스민, 파라마 바이올렛, 로즈, 머스크","바닐라, 인센스",겐조,오 드 퍼퓸,"106,000",NaN,"블랙커런트, 산사나무, 불가리안 로즈,오포포낙스, 자스민, 파라마 바이올렛, 로즈,...","[로즈, 오포포낙스, 블랙커런트, 불가리안 로즈, 인센스, 파라마 바이올렛, 바닐라..."

In [6]:
# multi-hot encoding 진행
mlb = MultiLabelBinarizer()
arr = mlb.fit_transform(df['Notes_list'])

In [7]:
# unique한 향 개수
len(mlb.classes_)

343

In [8]:
# multi-hot df 데이터프레임에 추가
df = df.assign(multi_hot = arr.tolist())
df.head(1)

,제품 번호,제품명,Top Note,Middle Note,Base Note,브랜드,부향률,가격,설명,Notes,Notes_list,multi_hot
0,0,겐조 플라워 바이 겐조 오 드 퍼퓸,"블랙커런트, 산사나무, 불가리안 로즈","오포포낙스, 자스민, 파라마 바이올렛, 로즈, 머스크","바닐라, 인센스",겐조,오 드 퍼퓸,"106,000",NaN,"블랙커런트, 산사나무, 불가리안 로즈,오포포낙스, 자스민, 파라마 바이올렛, 로즈,...","[로즈, 오포포낙스, 블랙커런트, 불가리안 로즈, 인센스, 파라마 바이올렛, 바닐라...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [9]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/capstone/data/data_preprocessing.csv',index=False)